@layer layouts {
	.features {
		max-width: var(--maximum-width);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.clients {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		padding-block: 1rem;
		padding-inline: 2rem;

		@media (width <=500px) {
			padding-block: .5rem;
			padding-inline: 1rem;
		}
	}

	.target-audience {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		padding-inline: 1.5rem;

		@media (width <=500px) {
			padding-inline: .5rem;
		}
	}

	.target-audience-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
		width: 100%;
	}

	.experience {
		display: flex;
		gap: 2rem;
		align-items: center;
		padding-inline: 2rem;

		@media (width <=900px) {
			flex-direction: column;
		}
	}

	.experience-content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		h2 {
			font-size: 2.5rem;
			color: var(--dark-grey);
			line-height: 1;
			font-weight: 600;

			@media (width <=1000px) {
				font-size: 2rem;
			}

			@media (width <=900px) {
				text-align: center;
			}
		}

		p {
			color: var(--grey);
		}
	}
}

@layer components {
	.clients-logos {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 2rem;
		align-items: center;
		justify-items: center;
	}

	.clients-title {
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		color: var(--dark-grey);
	}

	.clients-text {
		color: var(--grey);
		text-align: center;
	}

	.target-audience-element {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: .5rem;

		h3 {
			font-size: 1.5rem;
			text-align: center;
			color: var(--dark-grey);
		}

		p {
			text-align: center;
			color: var(--grey);
		}

		svg {
			height: 4rem;
		}
	}

	.target-audience-title {
		font-size: 2rem;
		color: var(--dark-grey);
		font-weight: 600;
		text-align: center;
	}

	.target-audience-text {
		color: var(--grey);
	}

	.experience-image {
		height: 20rem;

		@media (width <=1000px) {
			height: 17rem;
		}

		@media (width <=500px) {
			height: 12rem;
		}
	}
}
