@layer layouts {
	.hero {
		height: 50vh;
		background-color: var(--silver);
		display: flex;
		justify-content: space-evenly;
	}

	.hero-wrapper {
		display: flex;
		flex-direction: column;
	}
}

@layer components {}